Repository cristiklein/stateless-workstation-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: generic-roles, no-dollar-home, no-state-present

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
- repo: https://github.com/ansible/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      files: \.(yaml|yml)$
- repo: local
  hooks:
    - id: generic-roles
      name: generic-roles
      description: >-
        Prevents accidentally leaving my name, username or email in any role,
        preventing them from being generic.
      language: pygrep
      entry: '[Kk]lein'
      files: '^roles/.*$'
    - id: no-dollar-home
      name: no-dollar-home
      description: >-
        Prefer tilde (~) to $HOME. E.g., unarchive's create does not handle $HOME.
        https://github.com/ansible/ansible/pull/27018
      language: pygrep
      entry: '[$]HOME'
      files: '^roles/.*[.]ya?ml$'
    - id: no-state-present
      name: no-state-present
      description: >-
        Avoid 'state: present' as it only adds visual noise.
      language: pygrep
      entry: 'state: present'
      files: '^roles/.*[.]ya?ml$'

Add Jekyll
  roles/cklein.jekyll/tasks/main.yml
  roles/cklein.shell/templates/profile.j2
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Revert "Add Jekyll"
  roles/cklein.jekyll/tasks/main.yml
  roles/cklein.shell/templates/profile.j2
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Add hugo
  roles/cklein.hugo/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Update signature
  group_vars/all.yaml
Due: none

Add sops
  roles/cklein.cncf/defaults/main.yaml
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Change version of CNCF projects
  roles/cklein.cncf/defaults/main.yaml
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Upgrade Terraform
  roles/cklein.cncf/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Carve out ImageMagick
  roles/cklein.imagemagick/defaults/main.yaml
  roles/cklein.imagemagick/tasks/main.yaml
  roles/workstation/tasks/gui_tools.yml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Carve out CAD tools
  roles/cklein.cad/tasks/main.yaml
  roles/workstation/tasks/gui_tools.yml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Upgrade Terraform to 0.14.3
  roles/cklein.cncf/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix: Delete unless files
  roles/cklein.cloud_tools/templates/chrome-elastisys.desktop.j2
  roles/cklein.cloud_tools/templates/chrome-elastisys.svg.j2
  roles/cklein.cloud_tools/templates/mimeapps.list.j2
  roles/cklein.cloud_tools/templates/mplayer_config.j2
  roles/cklein.cloud_tools/templates/terminator_config.j2
  roles/cklein.cloud_tools/templates/xsessionrc.j2
Due: generic-roles

Update README.md
  README.md
Due: none

Improve version management in cklein.cloud_tools
  roles/cklein.cloud_tools/defaults/main.yaml
  roles/cklein.cloud_tools/tasks/aws.yaml
  roles/cklein.cloud_tools/tasks/openstack.yaml
Due: generic-roles, no-dollar-home, no-state-present

Move responsibility for upgrading pip packages
  roles/cklein.git/tasks/main.yaml
  roles/cklein.python/tasks/main.yaml
  roles/cklein.zz_cleanup/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Speed-up cklein.hugo
  roles/cklein.hugo/defaults/main.yaml
  roles/cklein.hugo/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Speed-up sops
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Speed-up zoom
  roles/cklein.zoom/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Use Ubuntu 20.04 Focal; Eoan is EOL
  deploy.sh
  test.sh
Due: none

Login to Docker Hub to work around ratelimiting
  .travis.yml
Due: none

Fix: gpg needs to be install before adding a PPA
  roles/cklein.security/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Add GitHub Actions lint
  .github/workflows/lint.yaml
Due: none

Fix lint job
  .github/workflows/lint.yaml
Due: none

Fix: only ask for TTY when available
  lint.sh
  test.sh
Due: none

Add test
  .github/workflows/test.yaml
Due: none

Fix test action
  .github/workflows/test.yaml
Due: none

Fix: make it work without TERM
  functions.sh
Due: none

Disable tput for GH Actions
  functions.sh
Due: none

Deprecate Thunderbird
  roles/workstation/tasks/gui_tools.yml
Due: generic-roles, no-dollar-home, no-state-present

Carve off Slack and Spotify
  roles/cklein.slack/tasks/main.yaml
  roles/cklein.spotify/tasks/main.yaml
  roles/workstation/meta/main.yaml
  roles/workstation/tasks/gui_tools.yml
  roles/workstation/tasks/main.yml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Use snap Ansible module
  roles/cklein.cloud_tools/tasks/gcloud.yaml
Due: generic-roles, no-dollar-home, no-state-present

Add Duplex script from ADF Scanner
  .pre-commit-config.yaml
  roles/cklein.pdftk/files/Duplex from non-duplex ADF scanner
  roles/cklein.pdftk/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Fix pipeline
  roles/workstation/tasks/google_chrome.yml
Due: generic-roles, no-dollar-home, no-state-present

Add pipfile
  roles/cklein.python/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present
