Repository cristiklein/stateless-workstation-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: generic-roles, no-dollar-home, no-state-present

generic-roles:
  name: generic-roles
  description: Prevents accidentally leaving my name, username or email in any role, preventing them from being generic.
  language: pygrep
  entry: '[Kk]lein'

no-dollar-home:
  name: no-dollar-home
  description: Prefer tilde (~) to $HOME. E.g., unarchive's create does not handle $HOME. https://github.com/ansible/ansible/pull/27018
  language: pygrep
  entry: '[$]HOME'

no-state-present:
  name: no-state-present
  description: 'Avoid ''state: present'' as it only adds visual noise.'
  language: pygrep
  entry: 'state: present'

Avoid trusted.gpg.d for Chrome
  roles/cklein.chrome/meta/main.yaml
  roles/cklein.chrome/tasks/main.yaml
  roles/cklein.google_key/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix errata; don't remove Ubuntu keyring
  roles/cklein.errata/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Avoid trusted.gpg.d for Docker
  roles/cklein.docker/tasks/main.yaml
  roles/cklein.errata/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Update README.md
  README.md
Due: none

Add role to install fonts
  roles/cklein.fonts/defaults/main.yaml
  roles/cklein.fonts/handlers/main.yaml
  roles/cklein.fonts/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Switch to a supported .NET
  roles/cklein.dotnet/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Exclude chronyc reload from tests
  roles/cklein.ntp.se/handlers/main.yml
Due: generic-roles, no-dollar-home, no-state-present

Ignore chronyc reload errors
  roles/cklein.ntp.se/handlers/main.yml
Due: generic-roles, no-dollar-home, no-state-present

Add Roboto Mono
  roles/cklein.fonts/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Disable webcam mic
  roles/cklein.webcam_fix/files/rules.d/90-block-webcam-sound.rules
  roles/cklein.webcam_fix/handlers/main.yml
  roles/cklein.webcam_fix/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

HashKnownHosts
  roles/cklein.security/templates/ssh/config.j2
Due: generic-roles

Update CNCF tools
  roles/cklein.cncf/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Update CNCF tools
  roles/cklein.cncf/defaults/main.yaml
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Make fonts installation converge
  roles/cklein.fonts/defaults/main.yaml
  roles/cklein.fonts/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Use Ubuntu 22.04 for testing
  .github/workflows/test.yaml
Due: none

Add git-checkall script
  roles/cklein.git/tasks/main.yaml
  roles/cklein.git/templates/git-checkall.j2
Due: generic-roles, no-dollar-home, no-state-present

Add .editorconfig
  .editorconfig
Due: none

Update rclone v1.65.0
  roles/cklein.cloud_tools/tasks/multi_cloud.yaml
Due: generic-roles, no-dollar-home, no-state-present

Depend on cklein.homebin
  roles/cklein.git/meta/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix Google Chrome
  roles/cklein.chrome/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Add wallpapers role
  roles/cklein.wallpapers/files/Laptop_background_star_2.png
  roles/cklein.wallpapers/files/Laptop_background_star_2_plain.png
  roles/cklein.wallpapers/files/meeting_background_office.png
  roles/cklein.wallpapers/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Update signature
  group_vars/all.yaml
Due: none

Remove CAD (I didn't use it for long)
  roles/cklein.cad/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Remove WSL support
  README.md
Due: none

Prefer apt for externally-managed Python packages
  roles/cklein.git/tasks/main.yaml
  roles/cklein.python/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix Chrome apt trust issue
  roles/cklein.chrome/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Remove YubiKey Personalization UI
  roles/cklein.security/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Ubuntu 24.04
  .github/workflows/test.yaml
  README.md
  roles/cklein.cloud_tools/tasks/main.yaml
  roles/cklein.dotnet/defaults/main.yaml
  site.yml
  test.sh
Due: generic-roles, no-dollar-home, no-state-present

Prevent Google Chrome's Deb from repo fiddling
  roles/cklein.chrome/files/etc/default/google-chrome
  roles/cklein.chrome/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix cklein.fonts
  roles/cklein.fonts/defaults/main.yaml
  roles/cklein.fonts/files/poppins/DESCRIPTION.en_us.html
  roles/cklein.fonts/files/poppins/METADATA.pb
  roles/cklein.fonts/files/poppins/OFL.txt
  roles/cklein.fonts/files/poppins/Poppins-Black.ttf
  roles/cklein.fonts/files/poppins/Poppins-BlackItalic.ttf
  roles/cklein.fonts/files/poppins/Poppins-Bold.ttf
  roles/cklein.fonts/files/poppins/Poppins-BoldItalic.ttf
  roles/cklein.fonts/files/poppins/Poppins-ExtraBold.ttf
  roles/cklein.fonts/files/poppins/Poppins-ExtraBoldItalic.ttf
  roles/cklein.fonts/files/poppins/Poppins-ExtraLight.ttf
  roles/cklein.fonts/files/poppins/Poppins-ExtraLightItalic.ttf
  roles/cklein.fonts/files/poppins/Poppins-Italic.ttf
  roles/cklein.fonts/files/poppins/Poppins-Light.ttf
  roles/cklein.fonts/files/poppins/Poppins-LightItalic.ttf
  roles/cklein.fonts/files/poppins/Poppins-Medium.ttf
  roles/cklein.fonts/files/poppins/Poppins-MediumItalic.ttf
  roles/cklein.fonts/files/poppins/Poppins-Regular.ttf
  roles/cklein.fonts/files/poppins/Poppins-SemiBold.ttf
  roles/cklein.fonts/files/poppins/Poppins-SemiBoldItalic.ttf
  roles/cklein.fonts/files/poppins/Poppins-Thin.ttf
  roles/cklein.fonts/files/poppins/Poppins-ThinItalic.ttf
  roles/cklein.fonts/files/roboto/DESCRIPTION.en_us.html
  roles/cklein.fonts/files/roboto/METADATA.pb
  roles/cklein.fonts/files/roboto/OFL.txt
  roles/cklein.fonts/files/roboto/Roboto-Italic[wdth,wght].ttf
  roles/cklein.fonts/files/roboto/Roboto[wdth,wght].ttf
  roles/cklein.fonts/files/robotomono/DESCRIPTION.en_us.html
  roles/cklein.fonts/files/robotomono/LICENSE.txt
  roles/cklein.fonts/files/robotomono/METADATA.pb
  roles/cklein.fonts/files/robotomono/RobotoMono-Italic[wght].ttf
  roles/cklein.fonts/files/robotomono/RobotoMono[wght].ttf
  roles/cklein.fonts/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Fix cklein.vscode
  roles/cklein.vscode/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Make pre-commit happy
  roles/cklein.fonts/files/poppins/DESCRIPTION.en_us.html
  roles/cklein.fonts/files/poppins/OFL.txt
  roles/cklein.fonts/files/roboto/DESCRIPTION.en_us.html
  roles/cklein.fonts/files/roboto/OFL.txt
  roles/cklein.fonts/files/robotomono/DESCRIPTION.en_us.html
Due: generic-roles

Update ansible.cfg to latest Ansible
  ansible.cfg
  site.yml
Due: none

Add instructions for working on a single role
  README.md
Due: none

Also set GNOME wallpaper
  roles/cklein.wallpapers/defaults/main.yaml
  roles/cklein.wallpapers/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Clarify out-of-scope
  README.md
Due: none

Cleanup cklein.git
  roles/cklein.git/defaults/main.yaml
  roles/cklein.git/meta/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Cleanup cklein.imagemagick
  roles/cklein.imagemagick/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Avoid using /home/cklein
  roles/cklein.wallpapers/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Make Azure sub-role more stand-alone
  roles/cklein.cloud_tools/tasks/azure.yaml
Due: generic-roles, no-dollar-home, no-state-present

Path conditions:
  generic-roles: any of: ^roles/.*$
  no-dollar-home: any of: ^roles/.*[.]ya?ml$
  no-state-present: any of: ^roles/.*[.]ya?ml$
