Repository cristiklein/stateless-workstation-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: generic-roles, no-dollar-home, no-state-present

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: detect-aws-credentials
    -   id: detect-private-key
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
- repo: https://github.com/ansible/ansible-lint.git
  rev: v4.2.0
  hooks:
    - id: ansible-lint
      files: \.(yaml|yml)$
- repo: local
  hooks:
    - id: generic-roles
      name: generic-roles
      description: >-
        Prevents accidentally leaving my name, username or email in any role,
        preventing them from being generic.
      language: pygrep
      entry: '[Kk]lein'
      files: '^roles/.*$'
    - id: no-dollar-home
      name: no-dollar-home
      description: >-
        Prefer tilde (~) to $HOME. E.g., unarchive's create does not handle $HOME.
        https://github.com/ansible/ansible/pull/27018
      language: pygrep
      entry: '[$]HOME'
      files: '^roles/.*[.]ya?ml$'
    - id: no-state-present
      name: no-state-present
      description: >-
        Avoid 'state: present' as it only adds visual noise.
      language: pygrep
      entry: 'state: present'
      files: '^roles/.*[.]ya?ml$'

Update golangci
  roles/cklein.go/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Rework Chrome and extra profiles
  files/chrome-elastisys.svg
  files/chrome-le-staging.svg
  roles/cklein.chrome-extra-profiles/meta/main.yaml
  roles/cklein.chrome-extra-profiles/tasks/main.yaml
  roles/cklein.chrome-extra-profiles/templates/chrome.desktop.j2
  roles/cklein.chrome/tasks/main.yaml
  roles/workstation/tasks/google_chrome_elastisys.yml
  roles/workstation/tasks/main.yml
  roles/workstation/templates/chrome-elastisys.desktop.j2
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Remove obsolete role workstation
  .github/workflows/test.yaml
  .travis.yml
Due: none

Update ansible version
  deploy.sh
Due: none

Add inputrc, thanks LL!
  roles/cklein.shell/tasks/main.yaml
  roles/cklein.shell/templates/inputrc.j2
Due: generic-roles, no-dollar-home, no-state-present

Use callback_enabled instead of callback_whitelist; deprecated
  ansible.cfg
Due: none

Factor out cloud_tools version number and upgrade
  roles/cklein.cloud_tools/defaults/main.yaml
  roles/cklein.cloud_tools/tasks/aws.yaml
  roles/cklein.cloud_tools/tasks/openstack.yaml
Due: generic-roles, no-dollar-home, no-state-present

New CNCF tools
  roles/cklein.cncf/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

New pre-commit
  roles/cklein.git/defaults/main.yaml
  roles/cklein.git/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

New golang and tools
  roles/cklein.go/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

New hugo version
  roles/cklein.hugo/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

New NVM version
  roles/cklein.nodejs/defaults/main.yaml
  roles/cklein.nodejs/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

New pylint version
  roles/cklein.python/defaults/main.yaml
  roles/cklein.python/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Remove obsolete file
  roles/cklein.remote_unlock_encrypted_volume/files/cryptroot-unlock-neutered-busybox-progs.patch
Due: generic-roles

Fix krew installation
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Remove Ansible PPA
  deploy.sh
Due: none

Fix: Jammy does not need python-psutil
  roles/cklein.gnome_favorite_apps/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

fix[jammy]: cklein.security
  roles/cklein.security/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Remove dotnet-sdk-2.1; out-of-support
  roles/cklein.dotnet/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

fix[jammy]: azure-cli not yet officially available
  roles/cklein.cloud_tools/tasks/azure.yaml
Due: generic-roles, no-dollar-home, no-state-present

Avoid apt-key deprecation warning
  roles/cklein.chrome/tasks/main.yaml
  roles/cklein.cloud_tools/tasks/azure.yaml
  roles/cklein.docker/tasks/main.yaml
  roles/cklein.dotnet/tasks/main.yml
  roles/cklein.vscode/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix[jammy]: Hugo
  roles/cklein.hugo/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix[jammy]: cklein.dotnet
  roles/cklein.dotnet/tasks/main.yml
Due: generic-roles, no-dollar-home, no-state-present

Fix: prefer GPG for ssh-agent
  roles/cklein.security/tasks/main.yaml
  roles/cklein.security/templates/gnome-keyring-ssh.desktop.j2
  roles/cklein.shell/templates/bashrc.j2
Due: generic-roles, no-dollar-home, no-state-present

Fix[jammy]: cklein.remote_unlock_encrypted_volume
  roles/cklein.remote_unlock_encrypted_volume/tasks/main.yml
Due: generic-roles, no-dollar-home, no-state-present

Install krew plugins
  roles/cklein.cncf/defaults/main.yaml
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Add callback_whitelist back
  ansible.cfg
Due: none

Make krew plugin installation idempotent
  roles/cklein.cncf/defaults/main.yaml
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix: cklein.cncf
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Allow /home/cklein in certain shell snippets
  .pre-commit-config.yaml
Due: none

Skip minikube for now
  site.yml
Due: none

Remove deprecated callback_whitelist
  ansible.cfg
Due: none

New version of hugo
  roles/cklein.hugo/defaults/main.yaml
  roles/cklein.hugo/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix: no passwd for sudo
  test.sh
Due: none

Synchronize clock to ntp.se
  roles/cklein.ntp.se/files/sources.d/ntp.se.sources
  roles/cklein.ntp.se/handlers/main.yml
  roles/cklein.ntp.se/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Fully implement Netnod's best practices
  roles/cklein.ntp.se/README.md
  roles/cklein.ntp.se/files/sources.d/nist.sources
  roles/cklein.ntp.se/files/sources.d/ntp.se.sources
  roles/cklein.ntp.se/files/sources.d/ptb.sources
Due: generic-roles

Update to Ubuntu 22.04 for testing
  test.sh
Due: none

Move away from apt's trusted.gpg.d
  roles/cklein.cloud_tools/meta/main.yaml
  roles/cklein.cloud_tools/tasks/azure.yaml
  roles/cklein.dotnet/tasks/main.yml
  roles/cklein.errata/tasks/main.yaml
  roles/cklein.vscode/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Add forgotten roles
  roles/cklein.dotnet/meta/main.yaml
  roles/cklein.microsoft_key/tasks/main.yaml
  roles/cklein.vscode/meta/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix removing /etc/apt/trusted.gpg.d/*
  roles/cklein.errata/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present
