Repository cristiklein/stateless-workstation-config: changes, and which pre-commit hooks are due for each by the changed paths.
All: generic-roles, no-dollar-home, no-state-present

generic-roles:
  name: generic-roles
  description: Prevents accidentally leaving my name, username or email in any role, preventing them from being generic.
  language: pygrep
  entry: '[Kk]lein'

no-dollar-home:
  name: no-dollar-home
  description: Prefer tilde (~) to $HOME. E.g., unarchive's create does not handle $HOME. https://github.com/ansible/ansible/pull/27018
  language: pygrep
  entry: '[$]HOME'

no-state-present:
  name: no-state-present
  description: 'Avoid ''state: present'' as it only adds visual noise.'
  language: pygrep
  entry: 'state: present'

Skip even more a systemd handler
  roles/cklein.ntp.se/handlers/main.yml
Due: generic-roles, no-dollar-home, no-state-present

Try to speed up CI lint
  .github/workflows/lint.yaml
Due: none

Add requirements.txt
  .github/workflows/lint.yaml
  requirements.txt
Due: none

Cache pre-commit deps
  .github/workflows/lint.yaml
Due: none

Add pre-commit cache
  .github/workflows/lint.yaml
Due: none

Cleanup lint.sh to avoid future confusion
  lint.sh
Due: none

Use checkout@v4
  .github/workflows/test.yaml
Due: none

Remove unneeded dependency
  deploy.sh
Due: none

Improve linting cache
  .github/workflows/lint.yaml
Due: none

Test from ubuntu-desktop-minimal
  test.sh
Due: none

Try to optimize Test workflow
  .github/workflows/test.yaml
  Dockerfile
  build.sh
  test.sh
Due: none

Fix 1
  .github/workflows/test.yaml
Due: none

Fix CI
  .github/workflows/test.yaml
Due: none

Fix CI
  test.sh
Due: none

Yamllint
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  group_vars/all.yaml
  roles/cklein.chrome-extra-profiles/meta/main.yaml
  roles/cklein.chrome-extra-profiles/tasks/main.yaml
  roles/cklein.chrome/meta/main.yaml
  roles/cklein.chrome/tasks/main.yaml
  roles/cklein.cloud_tools/defaults/main.yaml
  roles/cklein.cloud_tools/meta/main.yaml
  roles/cklein.cloud_tools/tasks/azure.yaml
  roles/cklein.cncf/defaults/main.yaml
  roles/cklein.cncf/meta/main.yaml
  roles/cklein.cncf/tasks/main.yaml
  roles/cklein.dictionaries/defaults/main.yaml
  roles/cklein.dotnet/defaults/main.yaml
  roles/cklein.dotnet/meta/main.yaml
  roles/cklein.dotnet/tasks/main.yml
  roles/cklein.git/meta/main.yaml
  roles/cklein.gnome_favorite_apps/defaults/main.yaml
  roles/cklein.go/defaults/main.yaml
  roles/cklein.go/tasks/main.yml
  roles/cklein.hugo/defaults/main.yaml
  roles/cklein.imagemagick/defaults/main.yaml
  roles/cklein.python/defaults/main.yaml
  roles/cklein.vim/defaults/main.yaml
  roles/cklein.vscode/defaults/main/vscode.yml
  roles/cklein.vscode/meta/main.yaml
  roles/cklein.vscode/tasks/main.yaml
  roles/cklein.vscode/vars/main/vscode.yml
  roles/cklein.wallpapers/defaults/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Prevent google-chrome from fiddling with apt keys
  roles/cklein.chrome/files/etc/default/google-chrome
Due: generic-roles

Add cklein.obsidian
  roles/cklein.obsidian/defaults/main.yaml
  roles/cklein.obsidian/tasks/main.yaml
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Add checksums for security and performance
  roles/cklein.cncf/defaults/main.yaml
  roles/cklein.cncf/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Move configuration files to cklein.dotfiles
  .github/workflows/test.yaml
  roles/cklein.dotfiles/defaults/main.yaml
  roles/cklein.dotfiles/tasks/main.yaml
  roles/cklein.shell/tasks/main.yaml
  roles/cklein.shell/templates/bash_aliases.j2
  roles/cklein.shell/templates/bash_completion.j2
  roles/cklein.shell/templates/bash_logout.j2
  roles/cklein.shell/templates/bashrc.j2
  roles/cklein.shell/templates/inputrc.j2
  roles/cklein.shell/templates/profile.j2
  roles/cklein.vim/tasks/main.yaml
  roles/cklein.vim/templates/selected_editor.j2
  site.yml
Due: generic-roles, no-dollar-home, no-state-present

Optimize performance via explicit facts gathering
  ansible.cfg
  roles/cklein.docker/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Optimize performance in cklein.wallpapers
  roles/cklein.wallpapers/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Add git to testing image
  Dockerfile
Due: none

Fix cklein.wallpapers; create folder
  roles/cklein.wallpapers/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Fix idempotency of cklein.wallpapers
  roles/cklein.wallpapers/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Add selected_editor in cklein.dotfiles
  roles/cklein.dotfiles/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Move signature to cklein.dotfiles
  group_vars/all.yaml
  roles/cklein.dotfiles/tasks/main.yaml
  roles/cklein.mutt/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Remove obsolete SSH keys
  group_vars/all.yaml
Due: none

Avoid creating ~/.ansible
  ansible.cfg
Due: none

Really try to avoid creating ~/.ansible
  ansible.cfg
Due: none

Mention display configuration
  README.md
Due: none

Also set dark background
  roles/cklein.wallpapers/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Prefer nodeenv for Node
  roles/cklein.errata/tasks/main.yaml
  roles/cklein.nodejs/defaults/main.yaml
  roles/cklein.nodejs/meta/main.yaml
  roles/cklein.nodejs/tasks/main.yaml
  roles/cklein.python/tasks/main.yaml
Due: generic-roles, no-dollar-home, no-state-present

Path conditions:
  generic-roles: any of: ^roles/.*$
  no-dollar-home: any of: ^roles/.*[.]ya?ml$
  no-state-present: any of: ^roles/.*[.]ya?ml$
